:root{
    --color_purple         : #8C30F5;
    --color-light-turquoise: #75E3EA;
    --color-light-orange   : #FFC278;
    --color-turquoise      : #2EC5CE;
    --color-blue-water     : #D5FAFC;
    
}